body {
    max-width: 550px;
    margin: 0;
    font-family: Inter;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #6943FF;
    color: white;
    height: auto;
    font-weight: 800;
    padding-bottom: 20px;

}

#input-el {
    background-color: #6943FF;
    color: white;
    text-align: center;
    width: 150px;
    height: 85px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #B295FF;
    outline: none;    
    font-size: 50px;
    font-weight: 800;
}


#input-btn {
    position: relative;
    margin-top: 10px;
    padding: 15px 30px;
    border-radius: 10px;
    background: transparent;
    border: 2px solid #00c2cb;
    outline: 2px solid #00c2cb;
    outline-offset: -2px;
    font-size: 1.5rem;
    color: #00c2cb;
    font-weight: 500;
    cursor: pointer;
    transition: outline-offset 200ms ease;
}

#input-btn:hover {
    color: #e0ffff;
    outline-offset: 3px;
}

#input-btn:active{
    transform: scale(0.95);
  }

#container {
    background: #F4F4F4;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0px;

}

.cell {
    background: white;
    width: 500px;
    height: 108.57px;
    border-radius: 5px;
    /* border: 1px solid red; */
    margin: 15px;
    text-align: center;

}

h2 {
    color: #5A537B;

}