
body {
    max-width: 550px;
    margin: 0;
    font-family: Inter;
    
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #6943FF;
    color: white;
    height: auto;
    font-weight: 800;
    padding-bottom: 20px;

}

#input-el {
    background-color: #6943FF;
    color: white;
    text-align: center;
    width: 150px;
    height: 85px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #B295FF;
    outline: none;    
    font-size: 50px;
    font-weight: 800;
}


#input-btn {
    position: relative;
    margin-top: 10px;
    padding: 15px 30px;
    border-radius: 10px;
    background: transparent;
    border: 2px solid #00c2cb;
    outline: 2px solid #00c2cb;
    outline-offset: -2px;
    font-size: 1.5rem;
    color: #00c2cb;
    font-weight: 500;
    cursor: pointer;
    transition: outline-offset 200ms ease;
}

#input-btn:hover {
    color: #e0ffff;
    outline-offset: 3px;
}

#input-btn:active{
    transform: scale(0.95);
  }

#container {
    background: #F4F4F4;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0px;
    transition: background 0.2s linear;
}

.cell {
    background: white;
    width: 500px;
    height: 108.57px;
    border-radius: 5px;
    /* border: 1px solid red; */
    margin: 15px;
    text-align: center;
    transition: background 0.2s linear;
}

h2 {
    color: #5A537B;

}

.sun-icon, .moon-icon {
    font-size: 14px;
    transition: opacity 0.5s ease;
}

.sun-icon {
    opacity: 1;
}

.moon-icon {
    opacity: 0;
}
.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox-label {
    background-color: #111;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
    transform: translateX(24px);
}

.checkbox:checked + .checkbox-label .sun-icon {
    opacity: 0;
}

.checkbox:checked + .checkbox-label .moon-icon {
    opacity: 1;
}

* {box-sizing: border-box;}

.dark-mode {
    background-color: #292c35 !important;
}

.dark-mode2 {
    background-color: #273549 !important;
}